// Breakpoint
$hd: min-width 1366px;

// $heading-font:'Playfair Display', serif;

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #E8F3D6;
}

*.hubungi-kami {
    text-decoration: none;
    color: white;
    margin-left: auto;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #FF7B54;
    display: block;
}

@media screen and (max-width:844px) {
    .hubungi-kami {
        text-decoration: none;
        color: white;
        margin-left: auto;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: #FF7B54;
        display: block;
        text-align: center;
    }

    .nav-link {
        text-align: center;
        font-weight: 500;
        margin: 4px 0px;
    }

    header {
        margin-top: 100px !important;
        .swiper {
            img {
                border-radius: 8px !important;
                height: 260px !important;
                object-fit: cover !important;
                object-position: bottom center !important;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    header {
        .swiper {

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
    }
}



@media screen and (min-width:1366px) {
    .navbar {
        padding-top: 16px;
        padding-bottom: 16px;

        .navbar-nav {
            margin: auto;
            font-weight: 500;
            color: black;
        }

    }

}

// Header
header {
    margin-top: 116px;

    .swiper {
        img {
            border-radius: 8px;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: #FF7B54 !important;
        width: 20px !important;
        border-radius: 8px !important;
    }

    .swiper-button-next {
        right: 6%;
    }

    .swiper-button-prev {
        left: 6%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 50%;
        width: 35px !important;
        height: 35px !important;
        margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
        z-index: 10;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: black !important;
        padding: 21px;
        background: #FF7B54;
        border-radius: 8px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-family: swiper-icons;
        font-size: 18px;
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
        color: white;
    }
}

// Our Services
.our-services {
    background-color: #E8F3D6;
    margin-top: 20px;
    padding-top: 32px;
    padding-bottom: 40px;
    border-radius: 25px 25px 0 0;

    .headline {
        text-align: center;
        margin-bottom: 28px;

        h2 {

            font-weight: 700;
            font-size: 32px;
            text-transform: capitalize;
        }

        p {
            font-size: 16px;
        }
    }

    .card {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        h5 {
            font-weight: 600;
        }

        p {
            text-align: justify;
        }

        img {
            padding: 36px;
            background-color: #e6e6e6;
        }

        .hubungi-kami {
            text-decoration: none;
            color: white;
            margin-left: auto;
            padding: 8px 16px;
            border-radius: 8px;
            background-color: #FF7B54;
            display: block;
            text-align: center;
        }
    }
}

// Industri
.our-industry {
    background-color: white;
    margin-top: -20px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 25px 25px 0 0;

    .headline {
        text-align: left;
        margin-bottom: 28px;

        h2 {
            font-weight: 700;
            font-size: 32px;
            text-transform: capitalize;
        }

        p {

            font-size: 16px;
        }
    }

    .card-industry {
        .card-title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-top: 12px;
        }

        .card-text {
            font-size: 14px !important;
            font-weight: 300;
            text-align: justify;
            padding: 10px;
        }
    }

    img {
        border-radius: 16px;
    }

    .swiper-button-prev-industry,
    .swiper-button-next-industry {
        position: static;
        top: 50%;
        width: 35px !important;
        height: 35px !important;
        margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
        z-index: 10;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: black !important;
        padding: 21px;
        background: #FF7B54;
        border-radius: 8px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-family: swiper-icons;
        font-size: 18px;
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
        color: white;
    }

    .swiper-pagination-bullet-active {
        background-color: #FF7B54 !important;
        width: 20px !important;
        border-radius: 8px !important;
    }

    @media screen and (max-width:991px) {

        .swiper-button-prev-industry,
        .swiper-button-next-industry {
            display: none;
        }

        .headline {
            text-align: center;
            margin-bottom: 28px;

            h2 {

                font-weight: 700;
                font-size: 32px;
            }
        }
    }
}

// Why BBM Logistics
.why-bbm {
    background-color: #E8F3D6;
    margin-top: 20px;
    padding-top: 32px;
    padding-bottom: 40px;
    border-radius: 25px 25px 0 0;

    .headline {
        text-align: center;
        margin-bottom: 28px;

        h2 {

            font-weight: 700;
            font-size: 28px;
            text-transform: capitalize;
        }

        p {
            font-size: 16px;
        }

    }

    .card-vp {
        margin: 8px 0px;
    }

    .card-vp:hover {
        transform: translateY(-8px);
    }

    .card-body:hover {
        box-shadow: #FF7B5429 0px 10px 36px 0px, #FF7B5429 0px 0px 0px 1px;

    }

    .logo {
        max-width: 80px;
        background-color: #FF7B54;
        padding: 14px;
        border-radius: 24px;
        margin: auto;
        position: relative;
    }

    .card-body {
        text-align: center;
        margin-top: -30px;
        padding: 36px 8px 8px 8px;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 300;
        background-color: white;
    }

    .kerjasama {
        text-align: center;
        margin-top: 26px;
    }

    .penawaran {
        text-decoration: none;
        color: white;
        padding: 12px 32px;
        border-radius: 8px;
        background-color: #FF7B54;
        text-align: center;
    }

    h6 {
        font-weight: 600;
    }
}

// Footer
footer {
    border-top: 1.2px dashed #d0d0d0;
    background-color: rgba(232, 243, 214, 0.6);
    padding: 28px;

    .logo {
        padding: 1rem;
    }

    .card-footer {
        padding: 1rem;

        h6 {
            font-weight: 600;
        }

        p {
            font-size: 12px;
        }

        .follow-us {
            width: 20px;
            margin-right: 8px;
        }

    }

    .hubungi,
    .about {
        a {
            text-decoration: none;
            color: black;
            display: block;
            margin-top: 6px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .copyright {
        text-align: center;
        font-weight: 500;

    }

}

@media screen and (max-width:640px) {
    header {
        margin-top: 98px !important;
    }

    footer.logo {
        text-align: center;
        padding: 1rem;
    }

    footer {
        text-align: center;
    }

    .card-footer {
        padding: 1rem;

        h6 {
            font-size: 18px;
            font-weight: 600;
        }

        p {
            font-size: 14px;
        }

        .follow-us {
            width: 26px !important;
            margin-right: 8px;
        }

        p a {
            font-size: 15px;
        }

    }

}

section.about {
    margin-top: 82px;
    background-color: #E8F3D6;
    overflow: hidden;

    .headline {
        text-align: center;
        margin-top: 64px;
        margin-bottom: 64px;

        span {
            font-weight: 600;
            font-size: 18px;
            opacity: 0.8;
        }

        h1 {
            margin: 16px 0px;
            font-weight: 700;
            font-size: 48px;

        }

        p {
            font-size: 20px;
            font-weight: 300;
        }
    }
}

.story {
    margin-top: -20px;
    border-radius: 16px 16px 0px 0px;
    padding: 48px 0px 28px 0px;
    background-color: white;

    .headline {
        text-align: left;
        margin: 20px 0px;

        img {
            width: 240px;
        }

        p {
            font-size: 32px;
            font-weight: 700;

        }

        span {
            font-weight: 600;
            font-size: 18px;
            opacity: 0.8;
            display: block;
        }

        h2 {

            font-weight: 700;
            font-size: 32px;
            text-transform: capitalize;
        }
    }

    .desc {
        img {
            border-radius: 16px;
            height: 300px;
            object-fit: cover;
            margin-bottom: 16px;
        }

        p {
            text-align: justify;
            font-size: 16px;
        }

    }

}

section.office {
    margin-bottom: 30px;

    .headline {
        text-align: left;
        margin: 20px 0px;

        img {
            width: 240px;
        }

        p {
            font-size: 28px;
            font-weight: 700;

        }

        span {
            font-weight: 600;
            font-size: 18px;
            opacity: 0.8;
            display: block;
        }

        h2 {

            font-weight: 700;
            font-size: 32px;
            text-transform: capitalize;
        }
    }

    .office-location {

        .jakarta {
            margin-bottom: 16px;
            padding: 16px;
            border-radius: 16px;
            height: 240px;
            background-size: cover !important;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.92%, rgba(23, 23, 23, 0.50495) 58.85%, #2D2D2D 100%), url('img/office/andy-li-CpsTAUPoScw-unsplash-jakarta.jpg');
        }

        .surabaya {
            margin-bottom: 16px;
            padding: 16px;
            border-radius: 16px;
            height: 240px;
            background-size: cover !important;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.92%, rgba(23, 23, 23, 0.50495) 58.85%, #2D2D2D 100%), url('img/office/kevin-yudhistira-alloni-J_6Aq1epOyU-unsplash-tanjung-perak.jpg');
        }

        .banjarmasin {
            margin-bottom: 16px;
            padding: 16px;
            border-radius: 16px;
            height: 240px;
            background-size: cover !important;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.92%, rgba(23, 23, 23, 0.50495) 58.85%, #2D2D2D 100%), url('img/office/reiner-windo-LKETjcDVzcY-unsplash-Banjarmasin.jpg');
        }


        .content {
            position: relative;
            top: 50%;
            color: #fff;

            h6 {
                font-weight: 600;
            }

            p {
                margin-bottom: 6px;
                text-align: justify;
                font-size: 14px;
                color: white;
            }

            a {

                margin-right: 8px;
                display: inline;
                font-size: 13px;
                text-decoration: none;
                color: white;
                background-color: rgba(255, 255, 255, 0.2);
                padding: 6px 12px;
                border-radius: 4px;
            }
        }
    }
}

section.our-team {
    .headline {
        text-align: center;
        margin: 20px 0px;

        img {
            width: 240px;
        }

        p {
            font-size: 28px;
            font-weight: 700;

        }

        span {
            font-weight: 600;
            font-size: 18px;
            opacity: 0.8;
            display: block;
        }

        h2 {

            font-weight: 700;
            font-size: 32px;
            text-transform: capitalize;
        }
    }

    img.teams {
        height: 150px;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
    }

    .myTeams-Bottom {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        -o-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }
}

@media screen and (max-width:414px) {

    section.story,
    section.office {
        .headline {
            text-align: left;
            margin: 20px 0px;

            p {
                font-size: 22px !important;
                font-weight: 700;
            }

            span {
                font-weight: 600;
                font-size: 18px;
                opacity: 0.8;
                display: block;
            }
        }
    }

    section.our-team {
        .headline {
            text-align: center;
            margin: 20px 0px;

            p {
                font-size: 22px !important;
                font-weight: 700;
            }

            span {
                font-weight: 600;
                font-size: 18px;
                opacity: 0.8;
                display: block;
            }
        }
    }

    section.about .headline h1 {
        margin: 16px 0px;
        font-weight: 700;
        font-size: 30px;
    }

    section.about .headline p {
        font-size: 16px;
        font-weight: 300;
    }

    header {
        margin-top: 100px !important;
    }

    .our-services,.our-industry,.why-bbm {
        .headline {
            h2 {
                font-size: 24px !important;
                font-weight: 700 !important;
            }

            p {
                font-size: 16px;
            }
        }
    }
}