* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #e9f0de;
}
.navbar .active {
  font-weight: 600 !important;
}

*.navbar-brand img {
  max-width: 200px;
  max-height: 56px;
}

*.hubungi-kami {
  text-decoration: none;
  color: white;
  margin-left: auto;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #FF7B54;
  display: block;
}

@media screen and (max-width: 844px) {
  .hubungi-kami {
    text-decoration: none;
    color: white;
    margin-left: auto;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #FF7B54;
    display: block;
    text-align: center;
  }
  .nav-link {
    text-align: center;
    font-weight: 500;
    margin: 4px 0px;
  }
  header {
    margin-top: 100px !important;
  }
  header .swiper img {
    border-radius: 8px !important;
    height: 260px !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    -o-object-position: bottom center !important;
       object-position: bottom center !important;
  }
}
@media screen and (max-width: 1024px) {
  header .swiper .swiper-button-prev,
header .swiper .swiper-button-next {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .navbar {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navbar .navbar-nav {
    margin: auto;
    font-weight: 500;
    color: black;
  }
}
header {
  margin-top: 116px;
}
header .swiper img {
  border-radius: 8px;
}
header .swiper-pagination-bullet-active {
  background-color: #FF7B54 !important;
  width: 20px !important;
  border-radius: 8px !important;
}
header .swiper-button-next {
  right: 6%;
}
header .swiper-button-prev {
  left: 6%;
}
header .swiper-button-prev,
header .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 35px !important;
  height: 35px !important;
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
  padding: 21px;
  background: #FF7B54;
  border-radius: 8px;
}
header .swiper-button-prev::after,
header .swiper-button-next::after {
  font-family: swiper-icons;
  font-size: 18px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  color: white;
}

.our-services {
  scroll-margin-top: 98px !important;
  background-color: #e9f0de;
  margin-top: 20px;
  padding-top: 32px;
  padding-bottom: 40px;
  border-radius: 25px 25px 0 0;
}
.our-services .headline {
  text-align: center;
  margin-bottom: 28px;
}
.our-services .headline h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
.our-services .headline p {
  font-size: 16px;
}
.our-services .card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.our-services .card h5 {
  font-weight: 600;
}
.our-services .card p {
  text-align: justify;
}
.our-services .card img {
  padding: 36px;
  background-color: #e6e6e6;
}
.our-services .card .hubungi-kami {
  text-decoration: none;
  color: white;
  margin-left: auto;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #FF7B54;
  display: block;
  text-align: center;
}

.our-industry {
  background-color: white;
  margin-top: -20px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 25px 25px 0 0;
}
.our-industry .headline {
  text-align: left;
  margin-bottom: 28px;
}
.our-industry .headline h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
.our-industry .headline p {
  font-size: 16px;
}
.our-industry .card-industry .card-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
}
.our-industry .card-industry .card-text {
  font-size: 14px !important;
  font-weight: 300;
  text-align: justify;
  padding: 10px;
}
.our-industry img {
  border-radius: 16px;
}
.our-industry .swiper-button-prev-industry,
.our-industry .swiper-button-next-industry {
  position: static;
  top: 50%;
  width: 35px !important;
  height: 35px !important;
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
  padding: 21px;
  background: #FF7B54;
  border-radius: 8px;
}
.our-industry .swiper-button-prev::after,
.our-industry .swiper-button-next::after {
  font-family: swiper-icons;
  font-size: 18px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  color: white;
}
.our-industry .swiper-pagination-bullet-active {
  background-color: #FF7B54 !important;
  width: 20px !important;
  border-radius: 8px !important;
}
@media screen and (max-width: 991px) {
  .our-industry .swiper-button-prev-industry,
.our-industry .swiper-button-next-industry {
    display: none;
  }
  .our-industry .headline {
    text-align: center;
    margin-bottom: 28px;
  }
  .our-industry .headline h2 {
    font-weight: 700;
    font-size: 32px;
  }
}

.why-bbm {
  background-color: #e9f0de;
  margin-top: 20px;
  padding-top: 32px;
  padding-bottom: 80px;
  border-radius: 25px 25px 0 0;
}
.why-bbm .headline {
  text-align: center;
  margin-bottom: 28px;
}
.why-bbm .headline h2 {
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
}
.why-bbm .headline p {
  font-size: 16px;
}
.why-bbm .card-vp {
  margin: 8px 0px;
}
.why-bbm .card-vp:hover {
  transform: translateY(-8px);
}
.why-bbm .card-body:hover {
  box-shadow: rgba(255, 123, 84, 0.1607843137) 0px 10px 36px 0px, rgba(255, 123, 84, 0.1607843137) 0px 0px 0px 1px;
}
.why-bbm .logo {
  max-width: 80px;
  background-color: #FF7B54;
  padding: 14px;
  border-radius: 24px;
  margin: auto;
  position: relative;
}
.why-bbm .card-body {
  text-align: center;
  margin-top: -30px;
  padding: 36px 8px 8px 8px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 300;
  background-color: white;
}
.why-bbm .kerjasama {
  text-align: center;
  margin-top: 26px;
}
.why-bbm .penawaran {
  text-decoration: none;
  color: white;
  padding: 12px 32px;
  border-radius: 8px;
  background-color: #FF7B54;
  text-align: center;
}
.why-bbm h6 {
  font-weight: 600;
}

footer {
  border-top: 1.2px dashed #d0d0d0;
  background-color: rgba(222, 229, 210, 0.6);
  padding: 28px;
}
footer .logo {
  padding: 1rem;
}
footer .card-footer {
  padding: 1rem;
}
footer .card-footer h6 {
  font-weight: 600;
}
footer .card-footer p {
  font-size: 12px;
}
footer .card-footer .follow-us {
  width: 20px;
  margin-right: 8px;
}
footer .hubungi a,
footer .about a {
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 6px;
}
footer .hubungi a:hover,
footer .about a:hover {
  text-decoration: underline;
}
footer .copyright {
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  header {
    margin-top: 98px !important;
  }
  footer.logo {
    text-align: center;
    padding: 1rem;
  }
  footer {
    text-align: center;
  }
  .card-footer {
    padding: 1rem;
  }
  .card-footer h6 {
    font-size: 18px;
    font-weight: 600;
  }
  .card-footer p {
    font-size: 14px;
  }
  .card-footer .follow-us {
    width: 26px !important;
    margin-right: 8px;
  }
  .card-footer p a {
    font-size: 15px;
  }
}
section.about {
  margin-top: 82px;
  background-color: #e9f0de;
  overflow: hidden;
}
section.about .headline {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}
section.about .headline span {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
}
section.about .headline h1 {
  margin: 16px 0px;
  font-weight: 700;
  font-size: 48px;
}
section.about .headline p {
  font-size: 20px;
  font-weight: 300;
}

.story {
  margin-top: -20px;
  border-radius: 16px 16px 0px 0px;
  padding: 48px 0px 28px 0px;
  background-color: white;
}
.story .headline {
  text-align: left;
  margin: 20px 0px;
}
.story .headline img {
  width: 240px;
}
.story .headline p {
  font-size: 32px;
  font-weight: 700;
}
.story .headline span {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  display: block;
}
.story .headline h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
.story .desc img {
  border-radius: 16px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}
.story .desc p {
  text-align: justify;
  font-size: 16px;
}

section.office {
  margin-bottom: 30px;
}
section.office .headline {
  text-align: left;
  margin: 20px 0px;
}
section.office .headline img {
  width: 240px;
}
section.office .headline p {
  font-size: 28px;
  font-weight: 700;
}
section.office .headline span {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  display: block;
}
section.office .headline h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
section.office .office-location .jakarta {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 16px;
  height: 240px;
  background-size: cover !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.92%, rgba(23, 23, 23, 0.50495) 58.85%, #2D2D2D 100%), url("img/office/andy-li-CpsTAUPoScw-unsplash-jakarta.jpg");
}
section.office .office-location .surabaya {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 16px;
  height: 240px;
  background-size: cover !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.92%, rgba(23, 23, 23, 0.50495) 58.85%, #2D2D2D 100%), url("img/office/kevin-yudhistira-alloni-J_6Aq1epOyU-unsplash-tanjung-perak.jpg");
}
section.office .office-location .banjarmasin {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 16px;
  height: 240px;
  background-size: cover !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.92%, rgba(23, 23, 23, 0.50495) 58.85%, #2D2D2D 100%), url("img/office/reiner-windo-LKETjcDVzcY-unsplash-Banjarmasin.jpg");
}
section.office .office-location .content {
  position: relative;
  top: 50%;
  color: #fff;
}
section.office .office-location .content h6 {
  font-weight: 600;
}
section.office .office-location .content p {
  margin-bottom: 6px;
  text-align: justify;
  font-size: 14px;
  color: white;
}
section.office .office-location .content a {
  margin-right: 8px;
  display: inline;
  font-size: 13px;
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 6px 12px;
  border-radius: 4px;
}

section.our-team .headline {
  text-align: center;
  margin: 20px 0px;
}
section.our-team .headline img {
  width: 240px;
}
section.our-team .headline p {
  font-size: 28px;
  font-weight: 700;
}
section.our-team .headline span {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  display: block;
}
section.our-team .headline h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
section.our-team img.teams {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 16px;
}
section.our-team .myTeams-Bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
section.our-team .swiper-wrapper {
  transition-timing-function: linear !important;
}

@media screen and (max-width: 414px) {
  section.story .headline,
section.office .headline {
    text-align: left;
    margin: 20px 0px;
  }
  section.story .headline p,
section.office .headline p {
    font-size: 22px !important;
    font-weight: 700;
  }
  section.story .headline span,
section.office .headline span {
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    display: block;
  }
  section.our-team .headline {
    text-align: center;
    margin: 20px 0px;
  }
  section.our-team .headline p {
    font-size: 22px !important;
    font-weight: 700;
  }
  section.our-team .headline span {
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    display: block;
  }
  section.about .headline h1 {
    margin: 16px 0px;
    font-weight: 700;
    font-size: 30px;
  }
  section.about .headline p {
    font-size: 16px;
    font-weight: 300;
  }
  header {
    margin-top: 100px !important;
  }
  .our-services .headline h2, .our-industry .headline h2, .why-bbm .headline h2 {
    font-size: 24px !important;
    font-weight: 700 !important;
  }
  .our-services .headline p, .our-industry .headline p, .why-bbm .headline p {
    font-size: 16px;
  }
}
section.portfolio {
  background-color: white;
  margin-top: -25px;
  padding-top: 32px;
  padding-bottom: 40px;
  border-radius: 25px 25px 0 0;
}
section.portfolio .headline {
  text-align: center;
  margin-bottom: 28px;
}
section.portfolio .headline h2 {
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
}
section.portfolio .headline p {
  font-size: 16px;
}
section.portfolio .highlight {
  text-align: center;
}
section.portfolio .highlight img {
  border-radius: 16px;
}
section.portfolio .myPortfolio {
  margin-top: 16px;
}
section.portfolio .myPortfolio img.porto {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 16px;
}/*# sourceMappingURL=main.css.map */